AuthorizedKeysFile=/Users/smitea/Developer/rust/ssh/tests/sshd/authorized_keys
HostKey=/Users/smitea/Developer/rust/ssh/tests/sshd/ssh_host_rsa_key
PidFile=/Users/smitea/Developer/rust/ssh/tests/sshd/sshd.pid
Subsystem sftp internal-sftp
UsePAM yes
X11Forwarding yes
UsePrivilegeSeparation no
PrintMotd yes
PermitTunnel yes
KbdInteractiveAuthentication yes
AllowTcpForwarding yes
MaxStartups 500
# Relax modes when the repo is under eg: /var/tmp
StrictModes no
